name: deploy OVH

on:
  workflow_run:
    workflows: ["arch"]
    types:
      - completed

concurrency: ci-deploy-${{ github.ref }}

jobs:
  init-work:
    name: Init work
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    outputs:
        VERSION: ${{ env.VERSION }}
        BRANCH: ${{ env.BRANCH }}
        BUILD: ${{ env.BUILD }}
        DEPLOY: ${{ env.DEPLOY }}
        RELEASE: ${{ env.RELEASE }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract branch name
        shell: bash
        run: |
          echo "BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Init for main branch
        if: env.BRANCH == 'main'
        shell: bash
        env:
          COMMIT_SHA: ${{ github.sha }}
        run: |
          echo "VERSION=pr-${COMMIT_SHA:0:8}" >> $GITHUB_ENV
          echo "BUILD=true" >> $GITHUB_ENV
          echo "DEPLOY=true" >> $GITHUB_ENV
          echo "RELEASE=false" >> $GITHUB_ENV

      - name: Init for v* branches
        if: startsWith(env.BRANCH, 'v')
        id: deploy
        shell: bash
        run: |
          version=$( git tag --sort=version:refname --list "${{ env.BRANCH }}.*" | tail -1  );
          root_version=${version%.*};
          patch_version=${version##*.};
          if [ "$patch_version" == "" ]; then 
            pinned_version=${{ env.BRANCH }}.0;
          else
            pinned_version=$root_version.$(expr $patch_version + 1);
          fi;
          echo "VERSION=$pinned_version" >> $GITHUB_ENV
          echo "BUILD=true" >> $GITHUB_ENV
          echo "DEPLOY=true" >> $GITHUB_ENV
          echo "RELEASE=true" >> $GITHUB_ENV

      - name: Debug var
        shell: bash
        run: |
          echo "BRANCH: ${{ env.BRANCH }}"
          echo "VERSION: ${{ env.VERSION }}"
          echo "BUILD: ${{ env.BUILD }}"
          echo "DEPLOY: ${{ env.DEPLOY }}"
          echo "RELEASE: ${{ env.RELEASE }}"

  OVH-deployment:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs:
      - init-work
    if: needs.init-work.outputs.DEPLOY == 'true'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Helper to convert github repo to lowercase
      id: repo
      uses: ASzc/change-string-case-action@v6
      with:
        string: ${{ github.repository }}
    - name: DEMO deployment
      if: ${{ needs.init-work.outputs.release == 'true' }}
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.OVH_HOST }}
        username: ${{ secrets.OVH_USERNAME }}
        password: ${{ secrets.OVH_PASSWORD }}
        port: ${{ secrets.OVH_PORT }}
        script: |
          docker pull ghcr.io/${{ steps.repo.outputs.lowercase }}/api:latest
          docker pull ghcr.io/${{ steps.repo.outputs.lowercase }}/front:latest
          docker pull ghcr.io/${{ steps.repo.outputs.lowercase }}/ia:latest
    - name: TEST deployment
      if: ${{ needs.init-work.outputs.release != 'true' }}
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.OVH_HOST }}
        username: ${{ secrets.OVH_USERNAME }}
        password: ${{ secrets.OVH_PASSWORD }}
        port: ${{ secrets.OVH_PORT }}
        script: |
          docker pull ghcr.io/${{ steps.repo.outputs.lowercase }}/api:${{ needs.init-work.outputs.version }}
          docker pull ghcr.io/${{ steps.repo.outputs.lowercase }}/front:${{ needs.init-work.outputs.version }}
          docker pull ghcr.io/${{ steps.repo.outputs.lowercase }}/ia:${{ needs.init-work.outputs.version }}
          